@using GarageV3.Client.Controllers
@model IEnumerable<MemberShipsViewModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<form asp-action="IndexFilter" asp-controller="Memberships" method="get">
    <div class="input-group mb-2">        
        <div class="input-group-append">
            <input type="text" class="form-control" name="SearchInput" placeholder="Ange sök värde" />
        </div>
        
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">Sök</i></button>
        </div>
    </div>
</form>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MembershipCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehiclesNum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.VehiclesNum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MemberId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MemberId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MemberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
