@model SearchViewModel


<div class="row">
    <div class="col-md-12">

        <h1>@Model.HeadLine</h1>
        <h3>@Model.SubTitle</h3>

        @if (Model.AltSearch == AltSearch.NONE)
        {
            <form asp-action="SelectOption" asp-controller="Search">

                @Html.AntiForgeryToken();

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="mt-2">
                    <select class="form-select" asp-for="AltSearch">
                        <option value="">-Välj sök alternativ-</option>
                        <option value="@AltSearch.Vehicle">Fordon</option>
                        <option value="@AltSearch.Owner">Ägare</option>
                        <option value="@AltSearch.MemberShip">Medlemsskap</option>
                    </select>
                </div>



                <button class="btn btn-md btn-primary mt-2" type="submit">Sök</button>

                @if (!string.IsNullOrWhiteSpace(Model.UserInfo))
                {
                    <p class="text-danger">@Model.UserInfo</p>
                }


                <div class="mt-4">
                    <a class="fw-bold" asp-controller="Vehicles" asp-action="index">Tillbaka</a>
                </div>
            </form>

        }
        else if (Model.AltSearch == AltSearch.Owner)
        {
            <div>
                @await Html.PartialAsync("_SearchOwner")
            </div>
        }
        else if (Model.AltSearch == AltSearch.Vehicle)
        {
            <div>
                @await Html.PartialAsync("_SearchVehicle")
            </div>
        }

        else if (Model.AltSearch == AltSearch.MemberShip)
        {
            <div>
                @await Html.PartialAsync("_SearchMemberShip")
            </div>
        }
        else
        {
            <h3>Felaktigt alternativ</h3>
        }
    </div>
</div>
